:root {
    --base-light: #dbe4ee;
    --base-dark: #2a2d34;

    --blue-light: #cbf3f0;
    --blue-dark: #2ec4b6;

    --orange-light: #ffbf69;
    --orange-dark: #ff9f1c;
}

body {
    margin: 0px;
    min-height: 100vh;
    height: 100%;

    display: flex;
    justify-content: center;

    background-image: linear-gradient(var(--blue-light), var(--orange-light));
    background-attachment: fixed;

    font-family: 'Helvetica', sans-serif;
}

.card {
    width: 500px;
    height: 750px;

    margin: 75px;
    background-color: var(--base-light);

    border: 2px solid var(--base-dark);
    border-radius: 50px;
}

.title {
    margin-top: 50px;

    font-size: 40px;

    text-align: center;
}

.text {
    margin-left: 10%;
    margin-right: 10%;

    font-size: 25px;
}

.game {
    margin: auto;
    margin-top: 25%;
    margin-bottom: 25%;
}

td {
    height: 80px;
    width: 80px;

    border: 8px solid var(--base-dark);
    padding: 10px;
    border-radius: 50%;

    margin-left: 1px;
    margin-right: 1px;

    float: left;

    font-weight: bold;
    font-size: 80px;
    text-align: center;
    color: var(--base-dark);
}

@media screen and (max-width: 1450px) {
    body {
        flex-direction: column;
        align-items: center;
        flex-flow: column;

        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }

    .card {
        height: 100%;
        min-height: calc(100vh - 2 * 75px);

        scroll-snap-align: center;

        width: calc(100vw - 2 * 75px);
    }

    .title {
        font-size: 100px;
    }

    .text {
        font-size: 60px;
    }

    td {
        height: 17vw;
        width: 17vw;

        font-size: 17vw;
    }
}

.O {
    background-color: var(--orange-light);
}
.X {
    background-color: var(--blue-light);
}

.lose {
    transform: scale(90%);
    transition: 0.5s;
}
.winnerO {
    background-color: var(--orange-dark);

    animation-name: bounce;
    animation-timing-function: ease;

    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.winnerX {
    background-color: var(--blue-dark);

    animation-name: bounce;
    animation-timing-function: ease;

    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {
        transform: scale(95%);
    }
    50% {
        transform: scale(105%);
    }
    100% {
        transform: scale(95%);
    }
}
